.table-box {
  width: 1200px;
  margin: 0 auto;
  font-size: 0;
}

.table-box li {
  text-align: center;
  font-size: 16px;
  margin-left: 200px;
  color: #52a2f4;
  display: inline-block;
}

.table-box p {
  line-height: 80px;
}

.table-box .margin-none {
  margin-left: 0;
}
