* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color:rgba(255,255,255,0);

}
/*去除点击后的闪烁*/

@media screen and (max-width: 450px) {
    /*.self_list ul li:nth-child(3) {*/
    /*display: none;*/
    /*}*/
    .self_list ul li:nth-child(4) {
        display: none;
    }
    .self_list ul li:nth-child(5) {
        display: none;
    }
    .self_list ul li:nth-child(6) {
        display: none;
    } .self_list ul li:nth-child(7) {
          display: none;
      }
    .self_list ul li:nth-child(8) {
        display: none;
    }
    .self_list ul li:nth-child(9) {
        display: none;
    }
    .self_list ul li:nth-child(10) {
        display: none;
    }


}


a, a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    display: block;
}

.clear {
    clear: both
}

p {
    color: #333333;
}

li {
    list-style: none;
}

/*字体*/
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
body {
    background: #f5f5f5;
}

.per_c_head {
    height: 118px;
    position: relative;
    width: 100%;
    background: -webkit-linear-gradient(left, #ba1f6f, #66144f); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #ba1f6f, #66144f); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #ba1f6f, #66144f); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #ba1f6f, #66144f); /* 标准的语法（必须放在最后） */
}

.per_c_head_main {
    margin: 0 auto;
    padding-top: 27px;
    width: 90%;
}

.per_c_tx {
    width: 60px;
    height: 60px;
    float: left;
    border-radius: 60px;
    border: 2px solid #fff;
    /*background: #999;*/
}

.per_c_main_ma {
    width: 60%;
    padding-left: 10px;
    float: left;
    line-height: 20px;
}

.per_c_name {
    color: #fff;
    font-size: 16px;
}

.per_c_pos {
    color: #fff;
    font-size: 13px;
}

.per_c_id {
    color: #fff;
    font-size: 13px;
}

.g_right i {
    color: #fff;
}

.g_right {
    width: 15px;
    height: 24px;
    position: absolute;
    right: 20px;
    top: 47px;
}

.per_c_con_tx_o {
    width: 100%;
    height: 50px;
    background: #fff;
}

.per_c_con_dd_o {
    margin-top: 15px;
    width: 100%;
    height: 45px;
    background: #fff;
}

.per_c_con_tx {
    line-height: 50px;
    width: 95%;
    height: 50px;
    margin-left: 5%;
    border-top: 1px solid #f5f5f5;
}

.per_c_con_tx svg {
    float: left;
    margin-top: 12px;
    font-size: 25px;
}

.per_c_con_tx p {
    float: left;
    font-size: 16px;
    padding-left: 10px
}

.per_c_con_tx span {
    color: #bf2071;
    font-size: 16px;
}

.per_c_con_tx a {
    color: #bf2071;
    font-size: 16px;
    width: 50px;
    position: absolute;
    right: 20px;
    height: 25px;
    border: 1px solid #bf2071;
    line-height: 25px;
    margin-top: 12px;
    text-align: center;
    border-radius: 20px;
}

.per_c_con_dd {
    width: 90%;
    line-height: 30px;
    margin: auto
}

.per_c_con_dd .per_c_con_dd_l {
    float: left;
    margin-top: 10px;
    font-size: 25px;
}

.per_c_con_dd p {
    float: left;
    font-size: 16px;
    padding-left: 10px;
    color: #000;
    line-height: 45px;
}

.per_c_con_dd span {
    color: #bf2071;
    font-size: 16px;
}

.per_c_con_dd .per_c_con_dd_r {
    font-size: 16px;
    width: 15px;
    position: absolute;
    right: 20px;
    height: 25px;
    line-height: initial;
    margin-top: 10px;
    text-align: center;
}

.per_c_con_dd a svg {
    color: #000
}

/**/

.per_c_con_jd_o {
    width: 100%;
    height: 45px;
    background: #fff;
    position: relative;
    margin-top: 15px;
}

.per_c_con_jd {
    width: 90%;
    line-height: 50px;
    height: 50px;
    margin-left: 5%;
}

.per_c_con_jd .per_c_con_dd_l {
    float: left;
    margin-top: 10px;
    font-size: 25px;
}

.per_c_con_jd p {
    line-height: 45px;
    float: left;
    font-size: 16px;
    padding-left: 10px;
    color: #000;
}

.per_c_con_jd span {
    color: #bf2071;
    font-size: 16px;
}

.per_c_con_dd_r {
    font-size: 16px;
    width: 15px;
    position: absolute;
    right: 20px;
    height: 25px;
    line-height: initial;
    margin-top: 10px;
    text-align: center;
}

.per_c_con_dd a svg {
    color: #000
}

/**/

.per_c_con_kf_o {
    width: 100%;
    height: 45px;
    background: #fff;
    position: relative;
    margin-top: 15px;
}

.per_c_con_kf {
    width: 90%;
    line-height: 30px;
    margin: auto
}

.per_c_con_kf .per_c_con_dd_l {
    float: left;
    margin-top: 10px;
    font-size: 25px;
}

.per_c_con_kf p {
    float: left;
    font-size: 16px;
    padding-left: 10px;
    color: #000;
    line-height: 45px;
}

.per_c_con_kf span {
    color: #bf2071;
    font-size: 16px;
}

/*.per_c_con_kf a {*/
/*font-size: 16px;*/
/*width: 15px;*/
/*position: absolute;*/
/*right: 20px;*/
/*height: 25px;*/
/*line-height: initial;*/
/*margin-top: 12px;*/
/*text-align: center;*/
/*}*/

.per_c_con_kf a svg {
    color: #666666
}

/**/

.per_c_con_xt_o {
    width: 100%;
    height: 45px;
    background: #fff;
}

.per_c_con_xt {
    line-height: 50px;
    width: 95%;
    height: 50px;
    margin-left: 5%;
    border-top: 1px solid #f5f5f5;
}

.per_c_con_xt .per_c_con_dd_l {
    float: left;
    margin-top: 10px;
    font-size: 25px;
}

.per_c_con_xt p {
    float: left;
    font-size: 16px;
    padding-left: 10px;
    color: #000;
    line-height: 45px;
}

.per_c_con_xt span {
    color: #bf2071;
    font-size: 16px;
}

/*.per_c_con_xt a {*/
/*font-size: 16px;*/
/*width: 15px;*/
/*position: absolute;*/
/*right: 20px;*/
/*height: 25px;*/
/*line-height: initial;*/
/*margin-top: 12px;*/
/*text-align: center;*/
/*}*/

.per_c_con_xt a svg {
    color: #000
}

.per_c_dang {
    position: absolute;
    width: 5%;
    left: 0;
    height: 2px;
    bottom: -2px;
    background: #fff;
    z-index: 2;
}


.bottom {
    height: 45px;
    position: fixed;
    bottom: 0;
    background-color: #28163d;
    width: 100%;
    color: #fff;
    z-index: 999;
    overflow: hidden;
}
.bottom li {
    float: left;
    width: 33.3%;
    text-align: center;
    overflow: hidden;
}
.bottom li a{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}
.bottom li img {
    width: 18px;
    margin-top: 7px;
}

.bottom li p {
    font-size: 10px;
    margin-top: -2px;
    color: #fff;
}

.bottom li .active {
    color: #bf2071;
}


/*推广spread*/
.spread_c_head_in {
    width: 90%;
    margin: auto;
    height: 100px;
}

.spread_c_head_in ul li p {
    color: #fff;
}

.spread_c_head_in ul li {
    font-size: 14px;
    color: #fff;
    float: left;
    text-align: center;

}

.spread_c_head_in_li1 {
    width: 30%;
    margin-top: 40px;
}

.spread_c_head_in_li2 {
    width: 40%;
    margin-top: 32px;
}

.spread_c_head_in_li2 span {
    font-size: 21px;
}

.spread_c_head_in_li3 {
    width: 30%;
    margin-top: 40px;
}

.spread_c_fl_mn {
    font-size: 16px;
    width: 30px;
    position: absolute;
    right: 46px;
    height: 16px;
    margin-top: 12.5px;
    text-align: center;
    background: #bf2071;
    border-radius: 30px;
    line-height: 14px;
}

/*.spread_c_fl_mn p span{*/
/*color: #fff;*/
/*font-size: 11px;*/
/*}*/
#spread_c_fl_mn_n {
    color: #fff;
    font-size: 11px;
}

#spread_c_fl_mn_a {
    color: #fff;
    font-size: 11px;
}

#spread_c_fl_mn_p {
    padding-left: 6px;
    line-height: 13px;
}
.rest{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #bf2071;
    margin-top: 13px;
    margin-right: 42px;
    position: relative;
    float: right;

}
.rest p{
    height: 4.2vw;
    padding-left: 0;
    width: 4.2vw;
    font-size: 2.9vw;
    position: absolute;
    left: 5px;
    top: -13px;
    color: #fff;
}

/*收益查询*/
.profit_head{
    background: #fff;
    margin-bottom: 10px;
}
.profit_head p{
    font-size: 4.2vw;
    margin-left: 2%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f5f5f5;
    box-sizing: border-box;
}
.profit_head h1{
    font-size: 8.3vw;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 2%;
}
.profit_head span{
    color: #d8d8d8;
}
.pro_start{
    background: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 2%;
    border-bottom: 1px solid #f5f5f5;
    height: 3.7vw;
    position: relative;
}
.pro_start p{
    float: left;
    font-size: 3.7vw;
    color: #999;
}
.pro_start input{
    width: 73%;
    border: none;
    margin-top: 3px;
    text-align: right;
    position: absolute;
    right: 8%;
    height: 3.7vw;
    font-size: 3.7vw;
}
.pro_start svg{
    width: 5.4vw;
    position: absolute;
    right: 3%;
    height: 5.4vw;
}